# Ex - GroupBy

Check out [Alcohol Consumption Exercises Video Tutorial](https://youtu.be/az67CMdmS6s) to watch a data scientist go through the exercises

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

### Step 4. Print beer servings average per continent

---

### Step 5. For each continent print the statistics for wine consumption.

###Step 6. Print all countries with wine servings bigger than the median wine servings.

###Step 7. For each continent, print the country with the maximal beer consumption.

###Step 8. We want to define an alcohol consumption rank. Create a new column created 'stars' such that for each country, if the total_litres_of_pure_alcohol is smaller than the 0.25 precentile of the column, it gets 4 stars. If it's between 0.25 - 0.5 precentile, it will get 3 stars, 0.5 - 0.75 is 2 stars and 0.75 - 0.1 is 1 star. Those values will be set in the new column.

### Step 9. For shaming purposes, change the value of the column stars such that the country with the biggest alcohol consumption will have the value "WORST!" in it.

### Step 10. Perform the same as question 8 but for the continents total_litres_of_pure_alcohol mean

### Step 11. Perform the same as question 8 but for the continents total_litres_of_pure_alcohol mean