# Ex - GroupBy

Check out [Alcohol Consumption Exercises Video Tutorial](https://youtu.be/az67CMdmS6s) to watch a data scientist go through the exercises

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv',keep_default_na=False, na_values=['_'])
df

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Print beer servings average per continent

---

In [ ]:
df[df['country'] == 'Canada']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
32,Canada,240,122,100,8.2,NA

### Step 5. For each continent print the statistics for wine consumption.

###Step 6. Print all countries with wine servings bigger than the median wine servings.

###Step 7. For each continent, print the country with the maximal beer consumption.

###Step 8. We want to define an alcohol consumption rank. Create a new column created 'stars' such that for each country, if the total_litres_of_pure_alcohol is smaller than the 0.25 precentile of the column, it gets 4 stars. If it's between 0.25 - 0.5 precentile, it will get 3 stars, 0.5 - 0.75 is 2 stars and 0.75 - 0.1 is 1 star. Those values will be set in the new column.

### Step 9. For shaming purposes, change the value of the column stars such that the country with the biggest alcohol consumption will have the value "WORST!" in it.

### Step 10. Perform the same as question 8 but for the continents total_litres_of_pure_alcohol mean

### Step 11. Perform the same as question 8 but for the continents total_litres_of_pure_alcohol mean

### Step 12. Drop the column stars from the dataframe.

### Step 13. Create a new DataFrame called only_alcohol containing only the columns 'country','total_litres_of_pure_alcohol','continent'

### Step 14. Set the index of the table only_alcohol to country.

##Part 2
Let's use another dataframe.
Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 1. Read the dataset into a dataframe named stocks, convert the date column to type datetime and set the it to be the index of the table

### Step 2. Print the total equity for each month (instead of each week as it  currently is)

### Step 3. Print the mean Taxable Bond for each month

### Step 4. What is the difference in days between the first row to the last (chronologically).

### Step 5. Print plot of the column Total over time